<ul class="nav nav-sidebar">
    <li>
        <a href="{{ url_for('.manageDocuments') }}">Documents</a>
    </li>
    <li>
        <a href="{{ url_for('.manageTags') }}">Tags</a>
    </li>
    <li>
        <a href="{{ url_for('.manageCategories') }}">Categories</a>
    </li>
</ul>
