{% extends "layout.html" %}
{% from "macros.html" import with_error_tooltip %}
{% block content %}
<div class="container" id="content">
    <div class="row pt-2">
        <div class="col-xs-12 col-md-6 offset-md-3">
            <div class="card card-block">
                <h1 class="card-title">Change Password</h1>
                <div class="card-text">
                <form action="{{ url_for_security('change_password') }}" method="POST">
                    <div class="row">
                        {{ with_error_tooltip(change_password_form.password, required=True, class="form-control", size="col-xs-12") }}
                    </div>
                    <div class="row">
                        {{ with_error_tooltip(change_password_form.new_password, required=True, class="form-control", size="col-xs-12") }}
                    </div>
                    <div class="row">
                        {{ with_error_tooltip(change_password_form.new_password_confirm, required=True, class="form-control", size="col-xs-12") }}
                    </div>
                    <div class="row pt-1">
                        <div class="col-xs-12">
                            {{ change_password_form.submit(class="btn btn-primary btn-block") }}
                        </div>
                    </div>
                    {{ change_password_form.hidden_tag() }}
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
