{% extends "security-layout.html" %}
{% from "macros.html" import with_error_tooltip %}
{% block content %}
<div class="container" id="content">
    <div class="row" id="login-row">
        <div class="col-xs-12 col-md-6 offset-md-3 pt-2" id="login">
            <div class="card card-block">
                <h1 class="card-title">Login</h1>
                <p class="card-text">Enter your credentials below</p>
                <form action="{{ url_for_security('login') }}" method="POST">
                    <div class="row">
                        {{ with_error_tooltip(login_user_form.email, label=False, placeholder=login_user_form.email.label.text, class="form-control", size="col-xs-12") }}
                    </div>
                    <div class="row pt-1">
                        {{ with_error_tooltip(login_user_form.password, label=False, placeholder=login_user_form.password.label.text, class="form-control", size="col-xs-12") }}
                    </div>
                    <div class="row pt-1">
                        <div class="checkbox col-xs-12 text-xs-center">
                            <label>
                                {{ login_user_form.remember }} Remember Me  
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ login_user_form.submit(class="btn btn-primary btn-block") }}
                        </div>
                    </div>
                    {{ login_user_form.hidden_tag() }}
                </form>
                <p class="card-text pt-1">
                    {% if config["SECURITY_RECOVERABLE"] %}
                    <a href="{{ url_for_security('forgot_password') }}">Forgot Password?</a>
                    {% endif %}
                    {% if config["SECURITY_REGISTERABLE"] %}
                    <span class="float-xs-right"><a href="{{ url_for_security('register') }}">Register</a></span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

