{% extends "security-layout.html" %}
{% from "macros.html" import with_error_tooltip %}
{% block content %}
<div class="container" id="content">
    <div class="row" id="login-row">
        <div class="col-xs-12 col-md-6 offset-md-3 pt-2">
            <div class="card card-block">
               <h1 class="card-title">Register</h1>
                <div class="card-text">
                    <form action="{{ url_for_security('register')  }}" method="POST">
                        <div class="row">
                            {{ with_error_tooltip(register_user_form.name, required=True, class="form-control", size="col-xs-12")  }}
                        </div>
                        <div class="row">
                            {{ with_error_tooltip(register_user_form.email, required=True, class="form-control", size="col-xs-12")  }}
                        </div>
                        <div class="row">
                            {{ with_error_tooltip(register_user_form.password, required=True, class="form-control", size="col-xs-12")  }}
                        </div>
                        {% if register_user_form.password_confirm %}
                        <div class="row">
                            {{ with_error_tooltip(register_user_form.password_confirm, required=True, class="form-control", size="col-xs-12")  }}
                        </div>
                        {% endif %}
                        <div class="row p-t-1">
                            <div class="col-xs-12">
                                {{ register_user_form.submit(class="btn btn-primary btn-block")  }}
                            </div>
                        </div>
                        {{ register_user_form.hidden_tag()  }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

