{% extends "security-layout.html" %}
{% from "macros.html" import with_error_tooltip %}
{% block content %}
<div class="container" id="content">
    <div class="row" id="login-row">
        <div class="col-xs-12 col-md-6 offset-md-3 pt-2">
            <div class="card card-block">
                <h1 class="card-title">Reset Password</h1>
                <div class="card-text">
                    <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST">
                        <div class="row">
                            {{ with_error_tooltip(reset_password_form.password, required=True, class="form-control", size="col-xs-12") }}
                        </div>
                        <div class="row">
                            {{ with_error_tooltip(reset_password_form.password_confirm, required=True, class="form-control", size="col-xs-12") }}
                        </div>
                        <div class="row p-t-1">
                            <div class="col-xs-12">
                                {{ reset_password_form.submit(class="btn btn-primary btn-block") }}
                            </div>
                        </div>
                        {{ reset_password_form.hidden_tag() }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

