<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% block title %}Security Center{% endblock title %}</title>
{% assets "global_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

