<!DOCTYPE html>
<html>
    <head>
    {% include "head.html" %}
    {% block headcss %}{% endblock headcss %}
    {% block headjs %}{% endblock headjs %}
    </head>
    <body>
        {% block modals %}{% endblock modals %}
        {% block messages %}
            <div id="alerts" class="container-fluid">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                        <div class="row">
                    {% for category, message in messages %}
                            <div class="alert alert-dismissible alert-{{ category }} alert-message fade in" role="alerts">
                                {{ message }}
                            </div>
                    {% endfor %}
                        </div>
                {% endif %}
            {% endwith %}
            </div>
        {% endblock messages %}
        <div class="navbar navbar-fixed-top navbar-securitycenter top-navbar">
            <div class="container-fluid">
                <div class="header-content">
                    <button aria-label="Toggle app navigation" class="sidebar-expand" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="navbar-collapse float-sm-right">
                        <ul class="nav navbar-nav">
                            {% block topnavitems %}{% endblock topnavitems %}
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <h6 class="dropdown-header">{{ current_user.name}}</h6>
                                    {% if current_user.has_role("Admin") %}
                                    <a class="dropdown-item" href="{{ url_for('user.index_view') }}">User Management</a>
                                    <div class="dropdown-divider"></div>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ url_for_security("change_password") }}">Change Password</a>
                                    <a class="dropdown-item" href="{{ url_for_security("logout") }}">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h1 class="title">
                        {% block pagetitle %}
                        <a href="/">Security Center</a>
                        {% endblock pagetitle %}
                    </h1>
                </div>
            </div>
        </div>
        <div class="app-with-sidebar">
            <div class="sidebar-wrapper">
                <div class="action-buttons">
                    <div class="sidebar-header-btn sidebar-collapse" title="Open/Close">
                        <span class="sr-only">toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                {% block sidebar %}
                {% endblock sidebar %}
            </div>
            <div class="content-wrapper">
                {% block content %}{% endblock content %}
            </div>
        </div>

        {% block tail_js %}

        {% assets "global_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% endblock tail_js %}
    </body>
</html>
