{% macro with_error_tooltip(field, label=True, required=False, size='col-md-3 col-xs-6') %} 
{% if field.errors %} 
{% set wrapperclass = size + ' has-danger' %} 
{% else %} 
{% set wrapperclass = size %} 
{% endif %} 
<div class="form-group {{ wrapperclass }}"> 
    {% if label %} 
    {{ field.label(class="form-control-label") }} 
    {% if required %}
        <span class="required-input">*</span>
    {% endif %}
    {% endif %} 
    {% if field.errors %} 
    {% set _dummy = kwargs.update({'data-toggle':'tooltip', 'data-placement':'top', 'data-container':'body', 'title':field.errors[0]}) %} 
    {% endif %} 
    {{ field(**kwargs) }} 
</div> 
{% endmacro %} 

{% macro with_error_ajax(field, label=True, required=False, size='col-md-3 col-xs-6') %}
<div class="form-group {{ size }}">
    {% if label %}
    {{ field.label(class="form-control-label") }}
    {% if required %}
        <span class="required-input">*</span>
    {% endif %}
    {% endif %}
    {{ field(**kwargs) }}
</div>
{% endmacro %}
