<!DOCTYPE html>
<html>
    <head>
    {% include "head.html" %}
    </head>
    <body>
        {% block messages %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div id="alerts" class="container-fluid">
                        <div class="row">
                    {% for category, message in messages %}
                            <div class="alert alert-dismissible alert-{{ category }} alert-message fade in" role="alerts">
                                {{ message }}
                            </div>
                    {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock messages %}

        {% block content %}{% endblock content %}

        {% block tail_js %}

        {% assets "global_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        
        {% endblock tail_js %}
    </body>
</html>
