{% extends "layout.html" %}
{% from "macros.html" import with_error_tooltip %}

{% block headcss %}
{{ super() }}
{% assets "appcenter_css" %}
    <link rel="stylesheet" href=" {{ ASSET_URL }}">
{% endassets %}
{% endblock headcss %}

{% block pagetitle %}
<a href="{{ url_for("app_center.index") }}">App Center</a><span> / </span>
<a href="{{ url_for('.manageIndex') }}">Manage</a><span> / </span>
<a href="{{ url_for('.manageCategories') }}">Categories</a><span> / </span>
{% if categoryid is not none %}
<span class="currentposition">Edit</span>
{% else %}
<span class="currentposition">New</span>
{% endif %}
{% endblock pagetitle %}

{% block sidebar %}
{% include "partials/manage-sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 pt-1 pr-2">
            <div class="card card-block">
                {% if categoryid is not none %}
                <h2 class="card-title">Edit Category</h2>
                {% else %}
                <h2 class="card-title">Add Category</h2>
                {% endif %}
                <p class="card-text">
                    <form action="{{ url_for('.manageCategoriesNewEdit', id=categoryid) }}" method="POST">
                        {{ addeditcategoryform.csrf_token }}
                        <div class="row">
                            {{ with_error_tooltip(addeditcategoryform.name, required=True, size="col-sm-12", class="form-control") }}
                        </div>
                        <div class="row">
                            {{ with_error_tooltip(addeditcategoryform.description, size="col-sm-12", class="form-control") }}
                        </div>
                        <div class="row">
                            <div class="btn-group col-sm-12">
                                <button type="submit" class="btn btn-success col-sm-6">Save</button>
                                <a class="btn btn-primary col-sm-6" href="{{ url_for(".manageCategories") }}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

