{% extends "layout.html" %}
{% from "macros.html" import with_error_ajax %}

{% block headcss %}
{{ super() }}
{% assets "appcenter_css" %}
    <link rel="stylesheet" href=" {{ ASSET_URL }}">
{% endassets %}
{% endblock headcss %}

{% block pagetitle %}
<a href="{{ url_for("app_center.index") }}">App Center</a><span> / </span><a href="{{ url_for('.manageIndex') }}">Manage</a><span> / </span><span class="currentposition">Categories</span>
{% endblock pagetitle %}

{% block sidebar %}
{% include "partials/manage-sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 pt-1 pr-2">
            <div class="card">
                <div class="card-block">
                    <h1 class="card-title">
                        Categories
                        <span>
                            <div class="btn-group">
                                <a class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Add category" href="{{ url_for('.manageCategoriesNewEdit') }}">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-primary btn-sm" id="saveorder" data-toggle="tooltip" data-placement="top"title="Save Order" href="javascript:void(0)" data-url="{{ url_for('.manageCategoriesSave') }}">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </span>
                    </h1>
                    <div class="col-sm-6 offset-sm-3 pt-2">
                        <ul class="list-group sortable" id="categorieslist">
                            {% for category in categories %}
                            <li class="list-group-item" data-id="{{ category.id }}">
                                <div class="float-right">
                                    <a href="{{ url_for('.manageCategoriesNewEdit', id=category.id) }}">Edit</a>
                                    <span> | </span>
                                    <a href="{{ url_for('.manageCategoriesDelete', id=category.id) }}">Delete</a>
                                </div>
                                <h5 class="list-group-item-heading">
                                    {{ category.name }}
                                </h5>
                                <p class="list-group-item-text">{{ category.description }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block tail_js %}
{{ super() }}
{% assets "appcenter_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets filters="jsmin", output="managecategories.min.js", "app_center/js/managecategories.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
