{% extends "layout.html" %}
{% from "macros.html" import with_error_ajax %}

{% block headcss %}
{{ super() }}
{% assets "appcenter_css" %}
    <link rel="stylesheet" href=" {{ ASSET_URL }}">
{% endassets %}
{% endblock headcss %}

{% block pagetitle %}
<a href="{{ url_for("app_center.index") }}">App Center</a><span> / </span><a href="{{ url_for('.manageIndex') }}">Manage</a><span> / </span><span class="currentposition">Documentation</span>
{% endblock pagetitle %}

{% block sidebar %}
{% include "partials/manage-sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 pt-1 pr-2">
            <div class="card">
                <div class="card-block">
                    <h1 class="card-title">
                        Documents
                        <span>
                            <a class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Add" href="{{ url_for('.manageDocumentsNewEdit') }}">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </span>
                    </h1>
                    <table class="table table-striped table-bordered" id="documents">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Description</td>
                                <td>App</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in documents %}
                            <tr>
                                <td>{{ doc.name }}</td>
                                <td>{{ doc.description }}</td>
                                <td>{{ doc.app_id.name }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary btn-sm" href="{{ doc.link }}" data-toggle="tooltip" data-placement="top", title="Open">
                                            <i class="fa fa-external-link" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm" href="{{ url_for('.manageDocumentsNewEdit', id=doc.id) }}" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="{{ url_for('.manageDocumentsDelete', id=doc.id) }}" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block tail_js %}
{{ super() }}
{% assets "appcenter_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
$(document).ready(function () {
    $('#documents').DataTable({
        "info": false,
        "columnDefs": [
            {
                "targets": 0,
                "width": "20%"
            },
            {
                "targets": 1,
                "width": "50%"
            },
            {
                "targets": 2,
                "width": "15%"
            },
            {
                "targets": -1,
                "searchable": false,
                "width": "10%",
                "orderable": false
            }
        ]
    });
});
</script>
{% endblock %}
