{% extends "layout.html" %}
{% from "macros.html" import with_error_ajax %}

{% block headcss %}
{{ super() }}
{% assets "appcenter_css" %}
    <link rel="stylesheet" href=" {{ ASSET_URL }}">
{% endassets %}
{% endblock headcss %}

{% block pagetitle %}
<a href="{{ url_for("app_center.index") }}">App Center</a><span> / </span><span class="currentposition">Manage</span>
{% endblock pagetitle %}

{% block sidebar %}
{% include "partials/manage-sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<div class="container">
    <div class="row pt-1">
        <div class="col-sm-4">
            <div class="card card-block">
                <h3 class="card-title text-centered">Documents</h3>
                <p class="card-text text-centered"><i class="fa fa-5x fa-book" aria-hidden="true"></i></p>
                <p class="card-text text-centered">
                    <a class="card-link" href="{{ url_for('.manageDocuments') }}">View</a>
                    <a class="card-link" href="{{ url_for('.manageDocumentsNewEdit') }}">Create</a>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-block">
                <h3 class="card-title text-centered">Tags</h3>
                <p class="card-text text-centered"><i class="fa fa-5x fa-hashtag" aria-hidden="true"></i></p>
                <p class="card-text text-centered">
                    <a class="card-link" href="{{ url_for('.manageTags') }}">View</a>
                    <a class="card-link" href="{{ url_for('.manageTagsNewEdit') }}">Create</a>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-block">
                <h3 class="card-title text-centered">Categories</h3>
                <p class="card-text text-centered"><i class="fa fa-5x fa-folder" aria-hidden="true"></i></p>
                <p class="card-text text-centered">
                    <a class="card-link" href="{{ url_for('.manageCategories') }}">View</a>
                    <a class="card-link" href="{{ url_for('.manageCategoriesNewEdit') }}">Create</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block tail_js %}
{{ super() }}
{% assets "appcenter_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
