{% extends "layout.html" %}
{% from "macros.html" import with_error_tooltip %}

{% block headcss %}
{{ super() }}
{% assets "appcenter_css" %}
    <link rel="stylesheet" href=" {{ ASSET_URL }}">
{% endassets %}
{% endblock headcss %}

{% block pagetitle %}
<a href="{{ url_for("app_center.index") }}">App Center</a><span> / </span>
<a href="{{ url_for('.manageIndex') }}">Manage</a><span> / </span>
<a href="{{ url_for('.manageTags') }}">Tags</a><span> / </span>
{% if tagid is not none %}
<span class="currentposition">Edit</span>
{% else %}
<span class="currentposition">New</span>
{% endif %}
{% endblock pagetitle %}

{% block sidebar %}
{% include "partials/manage-sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 pt-1 pr-2">
            <div class="card card-block">
                {% if tagid is not none %}
                <h2 class="card-title">Edit Tag</h2>
                {% else %}
                <h2 class="card-title">Add Tag</h2>
                {% endif %}
                <p class="card-text">
                    <form action="{{ url_for('.manageTagsNewEdit', id=tagid) }}" method="POST">
                        {{ addedittagform.csrf_token }}
                        <div class="row">
                            {{ with_error_tooltip(addedittagform.name, required=True, size="col-sm-12", class="form-control") }}
                        </div>
                        <div class="row">
                            {{ with_error_tooltip(addedittagform.color, size="col-sm-12", class="form-control colorpick") }}
                        </div>
                        <div class="row">
                            {{ with_error_tooltip(addedittagform.textcolor, size="col-sm-12", class="form-control colorpick") }}
                        </div>
                        <div class="row">
                            {{ with_error_tooltip(addedittagform.description, size="col-sm-12", class="form-control") }}
                        </div>
                        <div class="row">
                            <div class="btn-group col-sm-12">
                                <button type="submit" class="btn btn-success col-sm-6">Save</button>
                                <a class="btn btn-primary col-sm-6" href="{{ url_for('.manageTags') }}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block tail_js %}
{{ super() }}
{% assets "appcenter_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets filter="jsmin", output="managetags.min.js", "app_center/js/managetags.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
