{% extends "layout.html" %}
{% from "macros.html" import with_error_ajax %}

{% block headcss %}
{{ super() }}
{% assets "appcenter_css" %}
    <link rel="stylesheet" href=" {{ ASSET_URL }}">
{% endassets %}
{% endblock headcss %}

{% block pagetitle %}
<a href="{{ url_for("app_center.index") }}">App Center</a><span> / </span><a href="{{ url_for('.manageIndex') }}">Manage</a><span> / </span><span class="currentposition">Tags</span>
{% endblock pagetitle %}

{% block sidebar %}
{% include "partials/manage-sidebar.html" %}
{% endblock sidebar %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 pt-1 pr-2">
            <div class="card">
                <div class="card-block">
                    <h1 class="card-title">
                        Tags
                        <span>
                            <a class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Add Tag" href="{{ url_for('.manageTagsNewEdit') }}">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </span>
                    </h1>
                    <div class="col-sm-6 offset-sm-3 pt-2">
                        <ul class="list-group" id="tagslist">
                            {% for tag in tags %}
                            <li class="list-group-item" style="background-color: {{ tag.color }}">
                                <div class="float-right">
                                    <a href="{{ url_for('.manageTagsNewEdit', id=tag.id) }}">Edit</a>
                                    <span> | </span>
                                    <a href="{{ url_for('.manageTagsDelete', id=tag.id) }}">Delete</a>
                                </div>
                                <h5 class="list-group-item-heading" style="color: {{ tag.textcolor }}">{{ tag.name }}</h5>
                                {% if tag.description %}
                                <p class="list-group-item-text" style="color: {{ tag.textcolor }}">{{ tag.description }}</p>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

