.card-footer.buttons {
    position: absolute;
    bottom: 0;
    height: 3.25em;
    width: 100%;
}

.card-text.buttons {
    padding-bottom: 3.25em;
}

.customtag {
    padding: 0.3em 0.45em;
    font-size: 0.65em;
    border-radius: 0.5em;
    display: inline-block;
}

.text-white {
    color: white;
}

.appcontrols {
    width: 100%;
}

.appcontrols a {
    width: 50%;
}

.btn-xs {
    padding: 0.20rem 0.4rem;
    font-size: 0.6rem;
}
