body {
    background-color: #f2f2f2;
}

#alerts {
    position: absolute;
    top: 60px;
    right: 1em;
    width: 20em;
    z-index: 1000;
}

.required-input {
    color: red;
}

.navbar-securitycenter {
    padding: 0;
    z-index: 100;
    margin-bottom: 0;
    height: 50px;
    border: none;
}

.navbar-securitycenter, .sidebar-wrapper {
    background-color: #333;
}

.header-content {
    position: relative;
    height: 50px;
    padding-right: 0;
}

.navbar-securitycenter .sidebar-expand{
    position: absolute;
    left: -15px;
    font-size: 18px;
    padding: 10px 15px;
    height: 50px;
    min-height: 50px;
    border: none;
    color: rgba(255, 255, 255, .75);
    background-color: rgba(51, 51, 51, 0);
}

.navbar-securitycenter .sidebar-expand:hover {
    background-color: #595959;
}

.navbar-securitycenter .container-fluid .nav>li>a {
    color: rgba(255,255,255,.75);
    font-size: 18px;
    padding: 10px 15px;
    margin-left:10px;
    height: 50px;
    min-width: 50px;
    line-height: 28px;
    text-align: center;
    position: relative;
    display: block;
    margin-left: 0;
}

.navbar .nav>li {
    position: relative;
    white-space: nowrap;
}

.navbar-nav>li {
    float: left;
}

.navbar-nav input {
    height: 30px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-nav li div.search {
    margin-right: 10px;
}

.navbar-collapse:before {
    content: " ";
    display: table;
}

.header-content .title {
    position: relative;
    left: 35px;
    padding-right: 20px;
    margin: 0;
    font-size: 19px;
    max-width: 450px;
    display: inline-block;
    line-height: 50px;
    font-weight: normal;
    color: rgba(255,255,255,.75);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.header-content .title a {
    color: rgba(255, 255, 255, .75);
}

.app-with-sidebar {
    padding: 50px 0 25px;
    transition: padding 0.15s;
}

.sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: width 0.15s;
    box-shadow: 2px 0 16px 0 rgba(0,0,0,0.3);
    z-index: 1000;
}

.content-wrapper {
    width: 100%;
    transition: padding 0.15s;
}

.action-buttons {
    width: 220px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 50px;
    padding: 5px 0;
    font-size: 18px;
    line-height: 30px;
}

.sidebar-header-btn {
    padding: 10px 15px;
    transition-duration: .3s;
    position: absolute;
    top: 0;
    cursor: pointer;
} 

.action-buttons .sidebar-collapse {
    left: 0;
    color: rgba(255,255,255,.75);
}
.action-buttons .sidebar-collapse:hover {
    color: white;
}

.nav-sidebar {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 220px;
    overflow: hidden;
    outline: none;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav>li {
    position: relative;
    display: block;
}
.nav>li>a {
    position: relative;
}

.nav-sidebar li a {
    padding: 7px 22px;
    font-size: 15px;
    line-height: 24px;
    display: block;
    text-decoration: none;
    font-weight: normal;
    outline: none;
    color: rgba(255,255,255,.75);
}

.nav-sidebar li a:hover, .navbar-nav li a:hover {
    background-color: rgba(255,255,255,0.15);
}

.nav-sidebar li a.active {
    color: white;
    background-color: rgba(255,255,255,0.15);
}

.text-centered {
    text-align: center !important;
}

.currentposition {
    color: white;
}

