{% extends "layout.html" %}
{% from "macros.html" import with_error_ajax %}

{% block headcss %}
{{ super() }}
{% assets "appcenter_css" %}
    <link rel="stylesheet" href=" {{ ASSET_URL }}">
{% endassets %}
{% endblock headcss %}

{% block modals %}
<div class="modal fade" id="documentlist" tabindex="-1" role="dialog" aria-labelledby="documentmodaltitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="searchresults" tabindex="-1" role="dialog" aria-labelledby="searchresultstitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row pb-2" id="noresultsmsg">
                        <h3 class="text-xs-center">No Results</h3>
                    </div>
                    <div class="row pb-2" id="appsresultrow">
                        <div class="col-xs-12">
                            <h4>Apps</h4>
                            <table id="appsresultstable" class="table table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>App</th>
                                        <th>Description</th>
                                        <th>Launch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row pb-2" id="docsresultrow">
                        <div class="col-xs-12">
                            <h4>Documents</h4>
                            <table id="docsresultstable" class="table table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Document</th>
                                        <th>Description</th>
                                        <th>Open</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if current_user.has_role('Admin') %}
<div class="modal fade" id="addeditapp" tagindex="-1" role="dialog" aria-labelledby="addapptitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addeditappform" action="{{ url_for('.appAddEdit') }}" method="POST">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        {{ addeditappform.csrf_token }}
                        {{ with_error_ajax(addeditappform.name, required=True, class="form-control", size="col-md-12") }}
                    </div>
                    <div class="row">
                        {{ with_error_ajax(addeditappform.link, required=True, class="form-control", size="col-md-12") }}
                    </div>
                    <div class="row">
                        {{ with_error_ajax(addeditappform.icon, class="form-control", size="col-md-12") }}
                    </div>
                    <div class="row">
                        {{ with_error_ajax(addeditappform.description, class="form-control", size="col-md-12") }}
                    </div>
                    <div class="row">
                        {{ with_error_ajax(addeditappform.category, required=True, class="form-control", size="col-md-12") }}
                    </div>
                    <div class="row">
                        {{ with_error_ajax(addeditappform.tags, class="form-control", size="col-md-12", multiple="multiple", style="width: 100%") }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock modals %}

{% block topnavitems %}
<li>
    <div class="search search-form">
        <form class="form" id="searchform">
            {{ searchform.search(placeholder=searchform.search.label.text, class="form-control") }}
            {{ searchform.csrf_token }}
        </form>
    </div>
</li>
{% if current_user.has_role("Admin") %}
<li data-toggle="tooltip" data-placement="bottom" title="Add App">
    <a role="button" href="javascript:void(0)" data-toggle="modal" data-target="#addeditapp"><i class="fa fa-plus"></i></a>
</li>
<li data-toggle="tooltip" data-placement="bottom" title="Manage">
    <a href="{{ url_for('.manageIndex') }}"><i class="fa fa-tachometer" aria-hidden="true"></i></a>
</li>
{% endif %}
{% endblock topnavitems %}

{% block pagetitle %}
<a href="{{ url_for("app_center.index") }}">App Center</a><span> / </span><span class="currentposition">{{ currentcat.name }}</span>
{% endblock pagetitle %}

{% block sidebar %}
<ul class="nav nav-sidebar">
    {% for category in categories %}
    <li>
        <a href="{{ url_for('app_center.getApps', id=category.id) }}">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock sidebar %}

{% block content %}
<div class="container-fluid">
    <div class="row pt-1">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <p class="card-text">{{ currentcat.description }}</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pr-2">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    {% for app in apps %}
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title d-inline-block">
                                {% if app.iconurl %}
                                <img src="{{ app.iconurl }}" height="45" width="45">
                                {% endif %}
                                {{ app.name }}
                            </h4>
                            {% for tag in app.tags %}
                            <h6 class="card-subtitle customtag" {% if tag.color or tag.textcolor %}style="{% if tag.color %}background-color: {{ tag.color }}; {% endif %}{% if tag.textcolor %}color: {{ tag.textcolor }}{% endif %}"{% endif %}>{{ tag.name }}</h6>
                            {% endfor %}
                            {% if current_user.has_role("Admin") %}
                            <p class="card-text d-inline-block float-xs-right">
                                <a class="text-warning editapp" href="javascript:void(0)" data-appid="{{ app.id }}" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <span> | </span>
                                <a class="text-danger deleteapp" href="javascript:void(0)" data-appid="{{ app.id }}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </p>
                            {% endif %}
                            <p class="card-text buttons">{{ app.description }}</p>
                        </div>
                        <div class="card-footer buttons">
                            <div class="btn-group appcontrols" role="group" aria-label="App Buttons">
                                <a class="btn btn-success btn-sm" role="button" target="_blank" href="{{ app.link }}">Launch</a>
                                <a class="btn btn-primary btn-sm" role="button" href="javascript:void(0)" data-toggle="modal" data-target="#documentlist" data-appid="{{ app.id }}">Documentation</a>
                            </div>
                        </div>
                    </div>
                    {% if loop.index is divisibleby 3 %}
                </div>
            </div>
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block tail_js %}
{{ super() }}
{% assets "appcenter_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
